
entrypoint = "index.js"
modules = ["nodejs-20:v8-20240605-d4c3cbf"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "cloudrun"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true
enabledForHosting = false

[languages]

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx,*.json}"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]
